<!DOCTYPE html>
<html>
  <head>
      <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
        <link rel="stylesheet" href="assets/stylem.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div id="menu">
      <div class="well" id="search">

        <input type="text" />
        <i class="fa fa-search"></i>

      </div>


      <a href="/login">
        <button class="btn">Log in</button>
      </a>
      <a href="/register">
        <button class="btn">Sign up</button>
      </a>


    </div>

  </body>
</html>
