<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>A Pen by  Blagoja</title>


  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

  <link rel="stylesheet" href="assets/style-l.css">


</head>

<body>
  <div class="container-fluid">

    <div id="login" class="jumbotron">
      <div class="btn-warning btn">
        <%= fail %>
      </div>
      <h2 class="text-center">Log in</h2>
      <hr style="border-color: #DE1B1B; border-width: 3px"/>
      <form action="/login" method="POST">
        <input type="text" name='username' placeholder="Username" class="form-control" id="username" />
        <input type="password" name="password" placeholder="Password" class="form-control" id="password" />
        <input type="submit" value="Log in" class="btn" id="submit" />
      </form>
    </div>
    <div class="jumbotron" id="sign-up">

      <h4 class="text-center">Haven`t got an account? Sign up <a href="">here.</a></h4>

    </div>

  </div>


</body>
</html>
