<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% for(k=0; k<id; k++){ %>

<h5>Kuce-<%=id%>:<%= k %></h5>

    <% } %>
    <h1 style="color:white; background:skyblue;"><%= id %></h1>
  </body>
</html>
